body {
  background-image: url(desktop-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.App {
  text-align: center;
}

.images{
  width: 150px;
  height: 150px;
  padding: 15px;
  background-color: beige;
  margin: 10px;
}

img{
  width: 150px;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#galleryDiv{
  display: flex;
  flex-wrap: wrap;
}